<!DOCTYPE html>
<html>
<head>
  <link rel="apple-touch-icon" href="http://img03.taobaocdn.com/imgextra/i3/665732193/TB2WWWwapXXXXaDXpXXXXXXXXXX_!!665732193.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="http://img03.taobaocdn.com/imgextra/i3/665732193/TB2WWWwapXXXXaDXpXXXXXXXXXX_!!665732193.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="http://img03.taobaocdn.com/imgextra/i3/665732193/TB2PSuCapXXXXXqXXXXXXXXXXXX_!!665732193.png" /> 
  
<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb9ab8c85f88622eb244623bc2a0c81cf' type='text/javascript'%3E%3C/script%3E"));
</script>

  <meta charset="utf-8">
  
  <title>Jas0ndyq</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="layout:false


  修改简历
  返回首页

  


 
    请返回首页，输入阅读密码后再编辑
    





  
    
  
  
    
  
  
    管理密码
    
  

  
    阅读密码
    
  
  
  
  保存">
<meta property="og:type" content="website">
<meta property="og:title" content="Jas0ndyq">
<meta property="og:url" content="http://jas0n.me/resume/admin.html">
<meta property="og:site_name" content="Jas0ndyq">
<meta property="og:description" content="layout:false


  修改简历
  返回首页

  


 
    请返回首页，输入阅读密码后再编辑
    





  
    
  
  
    
  
  
    管理密码
    
  

  
    阅读密码
    
  
  
  
  保存">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Jas0ndyq">
<meta name="twitter:description" content="layout:false


  修改简历
  返回首页

  


 
    请返回首页，输入阅读密码后再编辑
    





  
    
  
  
    
  
  
    管理密码
    
  

  
    阅读密码
    
  
  
  
  保存">

  
  
    <link rel="icon" href="/favicon.ico">
  
  <link rel="stylesheet" href="/css/style.css" type="text/css">

  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body>
  <div id="container">
    <div class="left-col">
    <div class="upper">
	<p class="name"><a href="http://jas0n.me">Jas0n</a></p>
	<nav class="header-menu1">
		<ul class="main1">
			<a href="/">博客</a>
			<a href="/archives">文章</a>
			<a href="http://www.weibo.com/jasondyq">微博</a>
			<a href="https://twitter.com/jasondyq">Twitter</a>
			<a href="mailto:jas0n@jas0n.me">邮箱</a>
			<a href="/about/about.html">关于</a>
			<a href="/other/index">其他</a>
		</ul>
	</nav>

</div>



    </div>
    <div class="mid-col">
      
      <article id="page-undefined" class="article article-type-page" itemscope itemprop="blogPost">
  
    <div class="article-meta">
      <a href="/resume/admin.html" class="article-date">
  	<time datetime="2015-06-20T13:18:30.000Z" itemprop="datePublished">6月20日</time>
</a>
      
      
    </div>
  
  <div class="article-inner">
    
    <div class="article-entry" itemprop="articleBody">
      
        layout:false
<div class="editor-box">
<div class="row top">
  <div class="col-md-3 title">修改简历</div>
  <div class="col-md-9 action"><a ng-href="#/resume">返回首页</a></div>

</div>  

<div ng-show="resume.show==0" class="pad40">
 <center>
    <p>请返回首页，输入阅读密码后再编辑</p>
 </center>   
</div>

<form role="form" ng-show="resume.show==1">

<div class="settings form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="title" name="title" placeholder="简历标题" ng-model="resume.title">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="subtitle" name="subtitle" placeholder="简历小标题" ng-model="resume.subtitle">
  </div>
  <div class="form-group">
    <label for="admin_password">管理密码</label>
    <input type="password" class="form-control" id="admin_password" name="admin_password" placeholder="" ng-model="resume.admin_password">
  </div>

  <div class="form-group">
    <label for="view_password">阅读密码</label>
    <input type="password" class="form-control" id="view_password" name="view_password" placeholder="为空则公开可见" ng-model="resume.view_password">
  </div>
  
  
  <button type="submit" class="btn btn-default" ng-click="save(resume)">保存</button>


</div>  



<div class="row earea">
   <div class="col-md-6">
      <textarea class="editor" ng-model="resume.content" id="edit_area">
      </textarea>

      
   </div>
   <div class="col-md-6">
      <div class="preview yue" id="editor-preview" ng-bind-html="resume.content | wizMarkdownFltr"></div>
   </div> 
  </div> 
</form> 
</div>
<script type="text/javascript">
$(document).ready(function()
  {
    var h = $(window).height() - 135 + 'px';
    $('#edit_area').css('height', h );
    $('#editor-preview').css('height', h );
    console.log(h);
  });
</script>
      
    </div>
    <footer class="article-footer">
      
      
    </footer>
  </div>
  
    
  
</article>


<div class="share">
	<!-- JiaThis Button BEGIN -->
	<div class="jiathis_style">
		<span class="jiathis_txt">分享到：</span>
		<a class="jiathis_button_tsina">微博</a>
		<a class="jiathis_button_weixin">微信</a>
		<a class="jiathis_button_qzone">空间</a>
		<a class="jiathis_button_pocket">Pocket</a>
		<a class="jiathis_button_copy">网址</a>
		<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
		<a class="jiathis_counter_style"></a>
	</div>
	<script "text/javascript">
		var jiathis_config = {
			ralateuid:{
				"tsina":"爱薇薇"
				}
		}
	</script> 
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1409496172051494" charset="utf-8">

	</script>
	<!-- JiaThis Button END -->	
</div>



<div class="duoshuo">
	<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="undefined" data-title="" data-url="http://jas0n.me/resume/admin.html"></div>
	<!-- 多说评论框 end -->
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"jas0n"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
	<!-- 多说公共JS代码 end -->
</div>




      <footer id="footer">
  <div class="outer">
    <div id="footer-info">
      <div class="footer-left">
        &copy; 2015 Jas0ndyq 
       
      </div>
      <br />
      <div class="CC">
               <div class="mykey">
        ♥ Standing on the Shoulders of Giants
      </div>
      </div>
      
    	
      <br />



    </div>
  </div>
</footer>
    </div>
    
  <link rel="stylesheet" href="/fancybox/jquery.fancybox.css" type="text/css">

  <script src="/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>



<script src="/js/script.js" type="text/javascript"></script>

  </div>
</body>
</html>